@charset "UTF-8";

/*custom style*/
// app
.app{
  height: 100vh;
  position: relative;
}

// components
.components{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 999;
}

.cts{
  background-color: #f2f2f2;
  // .header, .contents{
  //   z-index: 9;
  // }
}

// bg
// .inventory-close, .inventory-open{
//   position: absolute;
//   z-index: 1;
//   height: 100%;
//   width: 100%;
//   object-position: left;
// }

// contents
.contents{
  position: relative;
  height: calc(100% - 60px);
}

// page
.page{
  height: 100%;
}

// header
.header{
  height: 60px;
  display: flex;
  flex-direction: row;
  position: relative;
  .right{
    margin-left: auto;
    display: flex;
    flex-direction: row;
  }
}

#userDropdown{
  padding: 0px;
  font-size: 14px;
  background-color: transparent;
  border: none;
  color: #121212;
}
.user-dropdown{
  .dropdown-menu{
    min-width: 120px !important;
  }
  .icon{
    margin-right: 10px;
  }
}

.content-header{
  display: flex;
  flex-direction: row;
  .left{
    margin-right: auto;
  }
  .right{
    margin-left: auto;
  }
}

// sub-nav
.sub-nav{
  display: inline-flex;
  .sub-item{
    padding: 10px;
  }
  .sub-link{
    text-align: right;
    font-size: 14px;
  }
}

// 냉장고 알림, 냉장교 체인지
.notice-component, .change-component{
  position: absolute;
  top: 60px;
  right: 20px;
  z-index: 10;
  width: 300px;
  .card{
    .content-header{
      padding: 10px;
    }
    .card-body{
      padding: 10px;
    }
  }
}

.notice{
  background-color: $items-color;
}

.change{
  background-color: $default-color;
  .text{
    display: flex;
    flex-direction: row;
  }
  .title{
    color: white;
    font-size: 16px;
  }
}

.notice, .change{
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  &:last-child{
    margin-bottom: 0px;
  }
  .img{
    width: 50px;
    flex: 0 0 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
  }
  .text{
    flex: 0 0 calc(100% - 50px);
    text-align: left;
    font-size: 14px;
    padding: 5px 10px;
    .title{
      font-weight: 600;
    }
  }
}

// 로그인, 회원가입
.login-page{
  height: 100%;
  .login-component{
    height: 100%;
  }
  .login-content{
    height: 100%;
  }
}

.login-content{
  display: flex;
  flex-direction: row;
  .left{
    width: 100%;
    flex: 0 0 calc(100% - 500px);
    transition: 0.5s;
  }
  .right{
    width: 500px;
    flex: 0 0 500px;
    transition: 0.5s;
    .btn-group{
      padding: 40px 40px 0px 40px;
      .btn{
        background-color: transparent;
        border: none;
        color: $default-color;
        font-size: 20px;
        padding-left: 0px;
        opacity: .5;
        &.active{
          opacity: 1;
          font-weight: 600;
        }
      }
    }
  }
}

.login, .register{
  padding: 40px;
  transition: 0.5s;
  .btn{
    width:100%;
    font-size: 18px;
    font-weight: 500;
    padding: 20px;
  }
  .btn-check{
    width: auto;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
  }
}

// 캐릭터
.character-page{
  .character-component{
    height: 100%;
  }
  .character-content{
    height: 100%;
    .row{
      height: 100%;
      padding: 10px;
    }
    .col{
      padding: 10px;
    }
  }
}

.character{
  .card{
    padding: 20px;
  }
  .title{
    width: 100%;
    font-weight: 500;
    line-height: 34px;
    text-align: center;
  }
  .img{
    width: 400px;
  }
  .content-body{
    text-align: center;
  }
  &.create{
    .img{
      position: relative;
      opacity: .5;
    }
    .btn-add{
      padding: 0px;
      border: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      border-radius: 50px;
    }
    .icon{
      width: 60px;
      height: 60px;
      color: $default-color;
      &:hover{
        color: $default-hover-color;
      }
    }
  }
}

.custom-dropdown{
  .dropdown-toggle{
    &::after{
      display: none;
    }
  }
  .btn{
    background-color: transparent;
    border: none;
    padding: 5px 10px;
  }
  .icon{
    color: $font-color;
  }
}

// 인벤토리
.inventory-page{
  .row{
    height: 100%;
  }
  .left, .right{
    height: 100%;
  }
  .inventory-component{
    height: 100%;
  }
  .inventory-content{
    height: 100%;
    display: flex;
    padding: 20px;
  }
  .carousel {
    width: 100%;
    max-height: 100%;
    display: flex;
    margin: auto;
  }
  .carousel-inner{
    height: 100%;
  }
  .carousel-item{
    height: 100%;
  }
  .carousel-indicators{
    [data-bs-target]{
      height: 6px;
      background-color: $default-color;
    }
  }
  .carousel-control-prev-icon, .carousel-control-next-icon{
    width: 4rem;
    height: 4rem;
  }
}

.inventory-group{
  text-align: center;
  margin: auto;
  display: flex;
  height: 100%;
  position: relative;
}

.inventory{
  display: flex;
  margin: auto;
  .img{
    margin: auto;
    max-width: 100%;
  }
  .btn-add{
    padding: 0px;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50px;
  }
  .icon{
    width: 60px;
    height: 60px;
    color: $default-color;
    &:hover{
      color: $default-hover-color;
    }
  }
  // 재료
  .ingr-group{
    position: absolute;
    //transform: translate(735px, 175px);
    background-color: #d1d1d1;
  }
  .ingr{
    // position: absolute;
    // z-index: 9;
    // transform: translate(735px, 175px);
    border-bottom: none;
    .ingr-img{
      flex: auto;
    }
  }
}

// 재료
.ingr{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #f2f2f2;
  &:last-child{
    border-bottom: none;
  }
  .ingr-img{
    flex: 0 0 100px;
    .img{
      width: 60px;
      height: 60px;
      border-radius: 60px;
      border: 1px solid #d1d1d1;
    }
  }
  .ingr-content{
    display: flex;
    flex-direction: row;
    flex: 0 0 calc(100% - 100px - 80px);
    .ingr-title{
      font-weight: 500;
      flex: 0 0 200px;
      line-height: 60px;
    }
    .ingr-form{
      flex: 0 0 calc(100% - 200px);
    }
  }
  form{
    .form-group{
      display: flex;
      flex-direction: row;
    }
    .form-label{
      flex: 0 0 100px;
      margin-bottom: 0;
      line-height: 36px;
    }
    .count-text{
      line-height: 36px;
      padding-right: 20px;
      width: 100%;
    }
  }
  .ingr-delete{
    flex: 0 0 80px;
    text-align: center;
    .btn-delete{
      background-color: transparent;
      border: none;
    }
    .icon{
      color: $danger-color;
      &:hover{
        color: $danger-hover-color;
      }
    }
  }
}


// 영양 성분, 메뉴 추천
.ingr-content-component{
  height: 100%;
  padding: 20px;
  .card{
    height: 100%;
  }
}

.item-group{
  .item{
    display: flex;
    flex-direction: column;
    .item-img{
      width: 100px;
      height: 100px;
      background-color: #f2f2f2;
      border: 1px solid #d1d1d1;
      border-radius: 100px;
      text-align: center;
      margin: auto;
    }
    .item-title{
      text-align: center;
      font-size: 14px;
    }
  }
  
}
